/* Agrega estilos según tus preferencias */
.about {
    background-color: #e1e1e14f;
    padding: 100px 0px;
    height: 70vh;
}

.about-us-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .about-us-section h2 {
    color: #333;
  }
  
  .about-us-section p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
  }
  