.fixImage {
    width: 100%;
    height: 70vh;
    background-image: url('../../assets/nuevo-versiculo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}