/* NavBAR black sm */
.navbarPages {
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  color: black;
  position: relative;
}

.menu-sm {
  display: flex;
}

.menu-sm a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

.hamburger-menu-sm {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar-sm {
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #001c28;
}

@media (max-width: 768px) {
  .menu-sm {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    background-color: white;
    width: 80%;
    height: auto;
    min-height: 150px;
    margin: 0px auto;
    justify-content: center;
    z-index: 1000;
  }
  .menu-sm.show-sm {
    display: flex;
  }
  .hamburger-menu-sm {
    display: flex;
  }
}