/* NavBAR MAIN */
.navbar {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
    position: relative;
}


.logo {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        background-color: #001c28;
        width: 80%;
        height: auto;
        min-height: 150px;
        margin: 0px auto;
        justify-content: center;
        z-index: 1000;
    }

    .menu.show {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}