.App {
  text-align: center;
}

.App-header {
  background-color: #1c2a45;
  padding: 20px;
  color: white;
  background-image: url("./assets/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

.style-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.style-option {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 0 10px;
}


h2 {
  color: #333; /* Color del texto más oscuro */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 8px 0;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

